{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "settings": {
      "import/resolver": {
        "node": {
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
  },
  "ignorePatterns": ["docs/assets/js/*", "dist/**"],
  "rules": {
    "tsdoc/syntax": "warn",
    "comma-dangle": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "max-classes-per-file": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "prefer-destructuring": 0,
    "import/extensions": 0,
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "import/no-extraneous-dependencies" :["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "import/extensions": 0
        // "import/no-extraneous-dependencies" :["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
      },
      "plugins": [
        "eslint-plugin-tsdoc",
        "@typescript-eslint"
      ]
    }
  ]
}
