{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 12
  },
  "ignorePatterns": ["docs/assets/js/*", "**/dist/**", "docs/**"],
  "rules": {
    "tsdoc/syntax": "warn",
    "comma-dangle": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "max-classes-per-file": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "prefer-destructuring": 0,
    "no-shadow": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "import/no-extraneous-dependencies" :["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "ecmaVersion": 2020, // Allows modern ECMAScript features
        "sourceType": "module" // Allows for the use of imports
      },
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "import/extensions": 0,
        "@typescript-eslint/no-shadow": "error",
        "import/no-unresolved": "error"
      },
      "settings": {
        "import/parsers": {
          "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": { // to allow '.js' in the imports
          "typescript": {}
          }
      },
      "plugins": [
        "eslint-plugin-tsdoc",
        "@typescript-eslint",
        "import"
      ]
    },
    {
      "files": ["test/*"],
      "rules": {
          "no-unused-expressions": "off"
      }
    }
  ]
}
